---
layout: default
---
<div class="container header">
  <h1>Permanent Confusion</h1>
</div>
<div class="chapter">
        <div class="artwork">
          <canvas class="art" width="200px" height="250px" data-pixel="1" data-colors="gray,pink,ghostwhite,white,darkblue">
          {{ page.image }}
          </canvas>
          <h1>{{page.title}}</h2>
        </div>

        <h2>{{page.subtitle}}</h2>

        <div class="scope"></div>
{{ content }}

        <div class="prev-next">
        {% if page.previous.url %}
          <a class="button" href="{{site.baseurl}}{{page.previous.url}}">&laquo;prev</a>
        {% endif %}
        {% if page.next.url %}
          <a class="button" href="{{site.baseurl}}{{page.next.url}}">next&raquo;</a>
        {% endif %}
        </div>
</div>
